<header>
<%= link_to products_path do %>
        <text> Regresar  ---  </text>
    <% end %>
        <%= link_to t('.concesionaria'), concesionaria_path %>
        <text> --- </text>
        <%= link_to t('.auto'), autos_path %>

</header>
<p style="color: green"><%= notice %></p>

<h1>Concesionaria</h1>

<div id="concesionaria">
  <% @concesionaria.each do |concesionarium| %>
    <%= render concesionarium %>
  <% end %>
</div>


<%= link_to "Nueva concesionaria", new_concesionarium_path %>
